type mali_device, dev_type, mlstrustedobject;
type mfc_device, dev_type;
type rfkill_device, dev_type;
type diagnostic_device, dev_type;
type efs_block_device, dev_type;

#device type for smd device nodes, ie /dev/smd*
type smd_device, dev_type;

# RIL /dev/umts_*
type ril_device, dev_type;
