type geomagneticd, domain;
type geomagneticd_exec, exec_type, file_type;
init_daemon_domain(geomagneticd)
domain_trans(init, rootfs, geomagneticd)
file_type_auto_trans(geomagneticd, system_data_file, gps_data_file)

allow geomagneticd gps_data_file:file write;
allow geomagneticd input_device:chr_file { read ioctl open };
allow geomagneticd input_device:dir { read open };
allow geomagneticd gps_data_file:file { read getattr open };
allow geomagneticd sysfs:file write;
allow geomagneticd input_device:dir search;
allow geomagneticd gps_data_file:dir { write remove_name add_name };
allow geomagneticd gps_data_file:file { unlink write rename create open setattr };
allow geomagneticd self:capability dac_override;
allow geomagneticd self:capability fowner;
# load SHIM libraries
allow init geomagneticd:process noatsecure;
