domain_trans(init, rootfs, gpsd)

allow gpsd rild:unix_stream_socket connectto;
allow gpsd sysfs_wake_lock:file { read write open };
allow gpsd gps_device:chr_file { read write ioctl open };
allow gpsd servicemanager:binder call;
allow gpsd cache_file:dir { write add_name };
allow gpsd cache_file:fifo_file { unlink open create read getattr };
allow gpsd cache_file:dir remove_name;
allow gpsd system_server:binder call;
# load SHIM libraries
allow init gpsd:process noatsecure;
