allow init wpa_socket:unix_dgram_socket { bind create };
allow init init:process { execmem };
allow init init:tcp_socket { read write create };
allow init port:tcp_socket name_connect;
allow init self:tcp_socket { read write getopt connect };
allow init kernel:system syslog_read;
allow init input_device:chr_file ioctl;
allow init system_data_file:file lock;
allow init fwmarkd_socket:sock_file write;
allow init netd:unix_stream_socket { connectto write };
allow init ril_device:chr_file ioctl;
allow init input_device:chr_file write;
allow init property_socket:sock_file write;
allow init device:chr_file { create unlink };
allow init devpts:chr_file { getattr ioctl };
allow init kernel:system module_request;
allow init log_device:chr_file write;
allow init ril_device:chr_file write;
allow init rild:unix_stream_socket connectto;
allow init system_data_file:fifo_file write;
