allow init debugfs:dir mounton;
allow init sysfs:lnk_file setattr;
allow init tmpfs:lnk_file create;
# load SHIM libraries
allow init rild:process noatsecure;