file_type_auto_trans(macloader, system_data_file, wifi_data_file)

allow macloader efs_file:file { read open getattr };
allow macloader efs_file:dir search;
allow macloader wifi_data_file:file { unlink write open setattr };
