type orientationd, domain;
type orientationd_exec, exec_type, file_type;
init_daemon_domain(orientationd)
domain_trans(init, rootfs, orientationd)

allow orientationd input_device:chr_file { write read ioctl open };
allow orientationd input_device:dir { search read open };
allow orientationd sysfs:dir { open read };
allow orientationd sysfs:file { open read };
