type qc_kickstart, domain;
type qc_kickstart_exec, exec_type, file_type;
init_daemon_domain(qc_kickstart)
domain_trans(init, rootfs, qc_kickstart)

allow qc_kickstart userdata_block_device:blk_file { read open };
allow qc_kickstart radio_device:chr_file { read write getattr open ioctl };
allow qc_kickstart self:capability setuid;
allow qc_kickstart shell_exec:file { read execute open execute_no_trans };
allow qc_kickstart system_file:file execute_no_trans;
allow qc_kickstart tombstone_data_file:file { read write getattr open setattr };
allow qc_kickstart vfat:file { read getattr open };
allow qc_kickstart qc_kickstart_exec:file execute_no_trans;
allow qc_kickstart tombstone_data_file:dir search;
allow qc_kickstart userdata_block_device:blk_file write;
allow qc_kickstart vfat:dir search;
allow qc_kickstart unlabeled:dir search;
