type qmuxd, domain;
type qmuxd_exec, exec_type, file_type;
init_daemon_domain(qmuxd)
domain_trans(init, rootfs, qmuxd)

allow qmuxd radio_device:chr_file { read write open };
allow qmuxd self:capability { setuid dac_override };
allow qmuxd socket_device:dir { write add_name };
allow qmuxd socket_device:sock_file { create setattr };
allow qmuxd sysfs:file write;
allow qmuxd sysfs_wake_lock:file { open append };
allow qmuxd socket_device:dir remove_name;
allow qmuxd socket_device:sock_file { getattr unlink };
allow qmuxd sysfs:file open;
