## RIL
allow rild radio_device:chr_file rw_file_perms;
allow rild { efs_file }:file rw_file_perms;
allow rild self:netlink_socket { create bind read write };
allow rild self:netlink_route_socket { write };
allow rild rild:process { execmem };

# Talk to qmuxd
qmux_socket(rild)

# Allow logging diagnostic items
allow rild diagnostic_device:chr_file rw_file_perms;

# XXX label with own type?
allow rild sysfs:file { read open write getattr };

allow rild ril_device:chr_file { read write ioctl open };
allow rild radio_data_file:dir setattr;
allow rild self:capability dac_override;
allow rild unlabeled:dir search;
allow rild unlabeled:file { read getattr open setattr };

allow rild dumpstate_exec:file getattr;
allow rild system_data_file:dir write;
allow rild unlabeled:file write;
