allow rild at_distributor:dir search;
allow rild at_distributor:file { read getattr open };
allow rild gpsd:dir search;
allow rild gpsd:file { read getattr open };
allow rild proc_net:file write;
allow rild sysfs:file write;
allow rild userdata_block_device:blk_file { read open };
allow rild mediaserver:dir search;
