allow rild gpsd:dir search;
allow rild gpsd:file { read getattr open };
allow rild proc_net:file write;
allow rild sysfs:file write;
allow rild userdata_block_device:blk_file { read open };
allow rild mediaserver:dir search;
allow rild efs_file:file { read getattr unlink append };
allow rild mediaserver:file { read getattr open };
allow rild qmuxd:unix_stream_socket connectto;
allow rild socket_device:dir { write add_name };
allow rild socket_device:sock_file { write create setattr };
allow rild devpts:chr_file { read write getattr };
allow rild init:unix_stream_socket { read write listen accept getopt };
allow rild radio_data_file:file { read getattr open };
allow rild socket_device:dir remove_name;
allow rild socket_device:sock_file unlink;
allow rild system_file:file execmod;