allow sysinit camera_data_file:dir { read getattr open };
allow sysinit camera_data_file:file { create read write getattr open setattr };
allow sysinit self:capability { fowner chown fsetid };
allow sysinit wifi_data_file:file { read write open };
allow sysinit camera_data_file:dir search;
allow sysinit efs_file:dir search;
allow sysinit camera_data_file:dir { write add_name };
allow sysinit efs_file:file { open read write };
allow sysinit cache_file:dir { write add_name };
allow sysinit cache_file:file { write create open };
allow sysinit kernel:system syslog_read;
allow sysinit firmware_exynos:dir { getattr open read };
allow sysinit firmware_exynos:file { getattr open read setattr write };
