allow system_server efs_file:dir search;
# allow system_server default_prop:property_service set;
allow system_server dex2oat_exec:file { read execute open execute_no_trans };
allow system_server log_device:chr_file { write open };
allow system_server system_file:file execmod;
